<select class="form-control" (change)="setTheme($event.target.value)">
      <option class="dropdown-item" *ngFor="let theme of themes" value="{{theme.url}}">{{theme.name}}</option>    
</select>  
<pre>
  selectedTheme 
  {{selectedThemeName}}
  {{selectedThemeUrl}}
</pre>
<div *ngIf="selectedThemeName=='darkly'; then ifcondition">
  <template #ifcondition>
      <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/darkly/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  </template>
</div>