<div class="row">
  <div class="col-lg-4 col-md-4">&nbsp;</div>
  <div class="col-lg-6 col-md-6">
    <h1>Organizer</h1>
  </div>
  <div class="col-lg-2 col-md-2">
    <app-theme-selector></app-theme-selector>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-md-1">&nbsp;</div>
  <div class="col-lg-6 col-md-6">
    <nav class="nav nav-pills nav-fill">
      <a class="nav-link" routerLink="/file-upload" routerLinkActive="active">File Upload</a>
      <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-md-1">&nbsp;</div>
  <div class="col-lg-6 col-md-6">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-md-1">&nbsp;</div>
  <div class="col-lg-6 col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-1 col-md-1">&nbsp;</div>
  <div class="col-lg-6 col-md-6">
    <h2>File Upload</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-md-1">&nbsp;</div>
  <div class="col-lg-2 col-md-2">
    <app-file-upload></app-file-upload>
  </div>
</div> -->